@import "./typography.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
	/* animation: fadeInFromNone 0.9s ease-out; */
	animation-name: fadeInFromNone, slideIn;
	animation-duration: 3s, 2s;
	animation-iteration-count: 1, 1;
	animation-direction: alternate;
}
@keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}
	1% {
		display: block;
		opacity: 0;
	}
	100% {
		display: block;
		opacity: 1;
	}
}
@keyframes slideIn {
	0% {
		transform: translateY(-15%);
	}

	100% {
		transform: translateY(0%);
	}
}
.grid-shapes {
	align-items: end;
}
.item-a {
	place-self: end stretch;
}
.item-b {
	place-self: end stretch;
}

.item-c {
	place-self: end stretch;
}
